.ai-assistant {
  @include button-reset;
  @include flex-center;
  touch-action: none;
  filter: drop-shadow(0 6px 16px rgba($purple-500, 0.5));

  .assistant-mascot {
    width: 122px;
    height: 95px;
  }
}
