.page-header {
  @include flex-column($space-1);

  &__row {
    @include flex-between;
  }

  &__title {
    @include flex(row, flex-start, center, $space-1);
    @include typo(
      $font-size-page-title,
      $font-weight-bold,
      $line-height-page-title
    );
    color: $color-text;
    letter-spacing: -0.01em;
  }

  &__sparkle {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
  }

  &__subtitle {
    @include typo(
      $font-size-lg,
      $font-weight-semibold,
      $line-height-page-subtitle
    );
    color: $night-800;
  }
}
