.settings-button {
  @include button-reset;
  @include flex-center;
  width: 34px;
  height: 34px;
  border-radius: $radius-full;
  color: $color-text;
  transition:
    color $duration-fast $easing-standard,
    background-color $duration-fast $easing-standard;

  img {
    width: 34px;
    height: 34px;
  }

  &:hover {
    background-color: rgba($night-1000, 0.1);
  }

  &:active {
    color: $night-800;
  }
}
