.app-layout {
  @include full-screen;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: $night-0;

  &__frame {
    @include app-frame;
    @include flex-column;
    position: relative;
    height: 100%;
    min-height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: $layout-app-radius;
    background-color: $color-bg;
  }
}
